<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.bytedance.tiktok">

    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>

    <application
        android:name=".application.App"
        android:allowBackup="true"
        android:icon="@mipmap/launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/launcher"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <activity
            android:name=".activity.SplashActivity"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />

                <action android:name="android.intent.action.VIEW" />

            </intent-filter>
        </activity>

        <activity
            android:name=".activity.MainActivity"
            android:screenOrientation="portrait" />

        <activity android:name=".activity.FocusActivity"
            android:screenOrientation="portrait" />

        <activity android:name=".activity.PlayListActivity"
            android:screenOrientation="portrait" />

        <activity android:name=".activity.ShowImageActivity"
            android:screenOrientation="portrait" />

    </application>

</manifest>